{% extends "bootstrap_layout.html" %}
{% set active_page = "about" %}


{% block content %}

    <h1>About Me</h1>

    <p>Hi, my name is Natalia Suska and you have stumbled upon my webpage. 
        I'm an undergraduate student at Georgetown University studying Operations & Analytics and Management.
        I'm also minoring in Psychology, which is pretty fun.
        At Georgetown I'm part of several clubs including: Hoyalytics, Innovo Consulting, McDonough Women, and JNET.
        At Georgetown I have been involved with Hoya Hacks, the Georgetown Startup Intern Program, and the Georgetown Scholars Program.
        In my free time I enjoy painting, drawing, and photography. I have been doing all three for about seven years now.
        I'm open for commissions and photoshoots. For art commissions, please specify on the drawing or painting webpages.
        For photography shoots, please contact me directly. 
    </p>

{% endblock %}

<!-- REMOVE BEFORE SUBMITTNG-->