{% extends "bootstrap_layout.html" %}
{% set active_page = "contact" %}


{% block content %}  


<div class="col">
    <h3>Contact Me</h3>
    <form action = "/contact/form" method ="POST">
      <div class = "mb-3">
          <label for="name" class="form-label">First and Last Name</label>
          <input class="form-control" type="text" name="name" aria-label="default input example">
      </div>

      <div class = "mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" name="email" placeholder="name@example.com" aria-describedby="emailHelp">
      </div>

      <div class = "mb-3">
          <label for="text" class="form-label">Message</label>
          <textarea class="form-control" name="text" id="Text" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-outline-primary">Submit</button>
    </form>
</div>

{% endblock %}