{% extends "bootstrap_layout.html" %}
{% set active_page = "drawings" %}


{% block content %}

<div class="p-5 text-center bg-light">
    <h1 class="mb-3">drawings</h1>
</div>
<br>

<div class="row">
    <div class="column">
        <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/drawings/rob.jpg?raw=true" class="img-fluid" width="300" alt="Photo of Neuschweinstein Castle in Germany">
        <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/drawings/ship.jpg?raw=true" class="img-fluid" width="300" alt="Photo of Neuschweinstein Castle in Germany">
    </div>
    <div class="column">
        <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/drawings/meg.jpg?raw=true" class="img-fluid" width="300" alt="Photo of Neuschweinstein Castle in Germany">
        <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/drawings/stars.JPG?raw=true" class="img-fluid" width="300" alt="Photo of Neuschweinstein Castle in Germany">
    </div>
    <div class="column">
        <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/drawings/meg.jpg?raw=true" class="img-fluid" width="300" alt="Photo of Neuschweinstein Castle in Germany">
        <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/drawings/stars.JPG?raw=true" class="img-fluid" width="300" alt="Photo of Neuschweinstein Castle in Germany">
    </div>
</div>



<br>
<br>

{% endblock %}