{% extends "bootstrap_layout.html" %}
{% set active_page = "drawings" %}


{% block content %}

<div class="p-5 text-center bg-light">
    <h1 class="mb-3">drawings</h1>
</div>
<br>

<div class="row">
    <div class="column">
        <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/drawings/stpeter.jpg?raw=true" class="img-fluid" width="300" alt="Abstract drawing of woman double exposure with St. Peter's Basilica">
        <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/drawings/guitarist.JPG?raw=true" class="img-fluid" width="300" alt="Abstract rock drawings of man">
    </div>
    <div class="column">
        <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/drawings/brown.jpg?raw=true" class="img-fluid" width="300" alt="Photo of Neuschweinstein Castle in Germany">
        <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/drawings/mirror.jpg?raw=true" class="img-fluid" width="300" alt="Abstract mirrored art of woman">
    </div>
    <div class="column">
        <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/drawings/france.jpg?raw=true" class="img-fluid" width="300" alt="Drawings of two siblings, girl and boy">
        <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/drawings/grandma.JPG?raw=true" class="img-fluid" width="300" alt="Drawing of grandmother">
    </div>
</div>


<br>
<br>
<br>

{% endblock %}