{% extends "bootstrap_layout.html" %}
{% set active_page = "home" %}


{% block content %}
    <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/portfolio/cover.jpg?raw=true" class="img-fluid" alt="Photo of Natalia">
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
          <div class="col">
              <h2>about natalia</h2>
              <p>Hi! 👋   
                I'm a product developer based in beautiful Switzerland, currently part of the AI & Data team at Deloitte. I'm a recent graduate of Georgetown University, where I focused in Operations & Analytics.
              </p>
                <br>
              <p>
                In my spare time, I am an alumni interviewer for Georgetown, where I get to speak with local high schoolers eager to join the university. I also enjoy hiking trails, specialty coffee, and beekeeping. 
              </p>
                <br>
              <p>
                On the weekends, I unleash my creative side through painting, drawing, and photography. Check out my portfolios for each on the tabs above. Need a custom artwork or a photoshoot? Reach out directly, and let's make some magic happen! 🎨📸 
              </p>
          </div>
        </div>
    </div>

{% endblock %}