{% extends "bootstrap_layout.html" %}
{% set active_page = "home" %}


{% block content %}

    <h1>Natalia Suska</h1>

    <p>Welcome to the home page of my website. 
        I'm Natalia, and you can learn more about me in the about page.
    </p>

    <h1>About Me</h1>

    <p>Hi, my name is Natalia Suska and you have stumbled upon my webpage. 
        I'm an undergraduate student at Georgetown University studying Operations & Analytics and Management.
        I'm also minoring in Psychology, which is pretty fun.
        At Georgetown I'm part of several clubs including: Hoyalytics, Innovo Consulting, McDonough Women, and JNET.
        At Georgetown I have been involved with Hoya Hacks, the Georgetown Startup Intern Program, and the Georgetown Scholars Program.
        This summer I'll be interning with a tech company in Seattle, and I'm pretty pumped about that.
    </p>

{% endblock %}