{% extends "bootstrap_layout.html" %}
{% set active_page = "home" %}


{% block content %}
    <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/portfolio/cover.jpg?raw=true" class="img-fluid" alt="Photo of Natalia">
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
          <div class="col">
              <h1>About Natalia</h1>
              <p>Hi, my name is Natalia Suska and you have stumbled upon my webpage. 
                I'm an undergraduate student at Georgetown University studying Operations & Analytics and Management.
                I'm also minoring in Psychology, which is pretty fun.
                At Georgetown I'm part of several clubs including: Hoyalytics, Innovo Consulting, McDonough Women, and JNET.
                At Georgetown I have been involved with Hoya Hacks, the Georgetown Startup Intern Program, and the Georgetown Scholars Program.
                </p>
                <br>
                <p>
                I enjoy painting, drawing, and photography. My portfolios for each are on their own pages on this website. 
                I am currently accepting art commissions and photo shoots. For drawings and paintings, a commission can be directly purchased.
                For photography shoots, please contact me directly. 
              </p>
          </div>
          <div class="col">
              <h3>Contact Me</h3>
              <form action="/home" name="sentMessage" method="post" class="contactForm" novalidate>
                <div class="row">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
        
                   <div class="mb-3">
                    <div class="form-group contact-block1">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                        <div class="validation"></div>
                    </div>
                   </div>

                    <div class="mb-3">
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-group">
                          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                          <div class="validation"></div>
                        </div>
                    </div>
                  
                    <div class="mb-3">
                         <div class="form-group">
                           <textarea class="form-control" name="message" rows="8" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                           <div class="validation"></div>
                         </div>
                    </div>
                  
                    <div class="mb-3">
                         <input type="submit" class="btn btn-outline-primary btn-send" value="Send message">
                    </div>    
                </div> 
              </form>
          </div>
        </div>
    </div>

{% endblock %}