{% extends "bootstrap_layout.html" %}
{% set active_page = "paintings" %}


{% block content %}

<!--NORMAL PAINTINGS-->
<div class="p-5 text-center bg-light">
    <h1 class="mb-3">paintings</h1>
</div>
<br>

<div class="row">
    <div class="column">
        <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/paintings/rob.jpg?raw=true" class="img-fluid" width="300" alt="Three paintings of same boy: one in color, one black and white, and one abstract">
        <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/paintings/ship.jpg?raw=true" class="img-fluid" width="300" alt="Beautiful painting of ship in stormy sea">
        <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/paintings/chloe.jpg?raw=true" class="img-fluid" width="300" alt="Abstract geometrical colored pencil drawing of pie charts making up a woman">
        <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/paintings/flow.jpg?raw=true" class="img-fluid" width="300" alt="Abstract geometrical colored pencil drawing of pie charts making up a woman">

    </div>
    <div class="column">
        <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/paintings/meg.jpg?raw=true" class="img-fluid" width="300" alt="Abstract painting of a woman on her birthday with blue hues">
        <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/paintings/stars.JPG?raw=true" class="img-fluid" width="300" alt="Abstract painting of geometry and the galaxy">
        <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/paintings/chicago.JPG?raw=true" class="img-fluid" width="300" alt="Abstract painting of Chicago O'Hare International Airport">
        <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/paintings/ocean.jpg?raw=true" class="img-fluid" width="300" alt="Abstract geometrical colored pencil drawing of pie charts making up a woman">

    </div>
    <div class="column">
        <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/paintings/angkor.jpg?raw=true" class="img-fluid" width="300" alt="Abstract painting of a gate at Angkor Wat with a tree surrounding it">
        <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/paintings/panda.JPG?raw=true" class="img-fluid" width="300" alt="Abstract painting of a woman with a panda hat">
        <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/paintings/faces.jpg?raw=true" class="img-fluid" width="300" alt="Abstract geometrical colored pencil drawing of pie charts making up a woman">

    </div>
</div>

<br>
<br>
<br>

<!--MURAL PAINTINGS-->
<div class="p-5 text-center bg-light">
    <h1 class="mb-3">large murals</h1>
</div>
<br>
<br>

<h3><i>Freedom Seekers</i></h3>
<p>Public mural painting located on Depot Ave in Niagara Falls, NY, USA, by the Underground Railroad Heritage Center. 
    This piece is 16 feet in height and 26 feet in width. </p>
    <a href="https://nfmurals.org/project/freedom-seekers-natalia-suska/">Read more about this project, and see more photos.</a>
<br>
<br>
<img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/paintings/rail.JPG?raw=true" class="img-fluid" width="1500" alt="Photo of Neuschweinstein Castle in Germany">
<br>
<br>
<h5>For scale:</h5>
<img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/paintings/rail2.jpg?raw=true" class="img-fluid" width="1500" alt="Photo of Neuschweinstein Castle in Germany">

<br>
<br>
<br>
<br>

<h3><i>Banff</i></h3>
<p>Large painting located in Niagara Falls High School, NY, USA. 
    This piece is about 5 feet in height and 10 feet in width. </p>
<img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/paintings/banff.JPG?raw=true" class="img-fluid" width="1500" alt="Photo of Neuschweinstein Castle in Germany">
<br>

{% endblock %}