{% extends "bootstrap_layout.html" %}
{% set active_page = "photography" %}


{% block content %}

    <h1>photography</h1>

    <div class="container">
        <div class="row">
          <div class="col">
            <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/portfolio/snow.JPG?raw=true" class="img-fluid" alt="Photo of Natalia">
          </div>
          <div class="col">
            <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/portfolio/ceiling.JPG?raw=true" class="img-fluid" alt="Photo of Natalia">
          </div>
          <div class="col">
            <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/portfolio/church.JPG?raw=true" class="img-fluid" alt="Photo of Natalia">
          </div>
        </div>
      </div>

{% endblock %}