{% extends "bootstrap_layout.html" %}
{% set active_page = "photography" %}


{% block content %}

    <div class="p-5 text-center bg-light">
        <h1 class="mb-3">photography</h1>
    </div>
    <br>
    <br>

    <div class="container">
        <div class="row">
          <div class="col">
            <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/portfolio/castle.JPG?raw=true" class="img-fluid" width="400" alt="Close up photo of a white castle">
          </div>
          <div class="col">
            <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/portfolio/neus.JPG?raw=true" class="img-fluid" width="400" alt="Photo of Neuschweinstein Castle in Germany">
          </div>
          <div class="col">
            <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/portfolio/church.JPG?raw=true" class="img-fluid" width="400" alt="Photo of a white Church">
          </div>
        </div>
      </div>

      <br>
      <br>

      <div class="container">
        <div class="row">
          <div class="col">
            <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/portfolio/dolomites.JPG?raw=true" class="img-fluid" width="400" alt="Photo of girl running in mountain trail">
          </div>
          <div class="col">
            <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/portfolio/germany.JPG?raw=true" class="img-fluid" width="400" alt="Photo of Italian mountain houses with mountain background">
          </div>
          <div class="col">
            <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/portfolio/snow.JPG?raw=true" class="img-fluid" width="400" alt="Photo of a girl sliding down snowy mountain">
          </div>
        </div>
      </div>

      <br>
      <br>

      <div class="container">
        <div class="row">
          <div class="col">
            <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/portfolio/ashley.JPG?raw=true" class="img-fluid" width="400" alt="Photo of woman smiling in Italian cafe">
          </div>
          <div class="col">
            <br>
            <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/portfolio/vesuvius.JPG?raw=true" class="img-fluid" width="400" alt="Photo of Oia, Greece">
            <br>
            <br>
            <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/portfolio/greece.JPG?raw=true" class="img-fluid" width="400" alt="Photo of girl overlooking Pompeii ruins">
          </div>
          <div class="col">
            <img src="https://github.com/nataliasuska/natalia/blob/main/website/templates/portfolio/golden.JPG?raw=true" class="img-fluid" width="400" alt="Photo of girl in front of door with golden sun">
          </div>
        </div>
      </div>

      <br>
      <br>
      <br>
      
    <div class="p-5 text-center bg-light">
      <a href="https://nataliasuska.herokuapp.com/checkout">book a 1-hour photoshoot with me</a>
    </div>

{% endblock %}